<template>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <input type="text" v-model="promotion.name">
          <i class="glyphicon glyphicon-refresh" v-if="loading"></i>
          <i class="glyphicon glyphicon-ok" v-if="checked"></i>
          <i class="glyphicon glyphicon-floppy-disk" v-on:click="update"></i>
          <i class="glyphicon glyphicon-trash" v-on:click="remove"></i>
        </div>
        <student
          v-for="student in students"
          v-if="student.id_promotion == promotion.id"
          v-bind:key="student.id"
          v-bind:id="student.id"
          v-bind:firstname="student.firstname"
          v-bind:lastname="student.lastname"
          class="col-md-8">
        </student>
      </div>
    </div>
  </div>
</template>

<script>
import Student from './Student.vue'
import StudentsJSON from '../data/students.json'

export default {
  name: 'promo',
  components: {
    Student
  },
  props: ['promotion'],
  data () {
    return {
      students: StudentsJSON.data.students
    }
  },
  methods: {
    update: function () {
    },
    remove: function () {
    }
  },
  mounted () {
    console.log(this.students)
  }
}
</script>


<style scoped>
i:hover {
  cursor: pointer;
}
</style>
