<template>
  <div class="panel-body">
    <input type="text" v-model="firstname" placeholder="Prénom">
    <input type="text" v-model="lastname" placeholder="Nom">
    <i class="glyphicon glyphicon-floppy-disk" v-on:click="update"></i> <i class="glyphicon glyphicon-trash" v-on:click="remove"></i>
  </div>
</template>

<script>
export default {
  name: 'student',
  props: ['id', 'firstname', 'lastname'],
  methods: {
    update: function (event) {
      console.log('update student ' + this.firstname + ' ' + this.lastname)
    },
    remove: function (event) {
      console.log('remove student ' + this.firstname + ' ' + this.lastname)
    }
  }
}
</script>

<style scoped>
i:hover {
  cursor: pointer;
}
</style>
