<template>
  <div id="app" class="container-fluid">
    <promo v-for="promotion in promotions" v-bind:key="promotion.id" v-bind:promotion="promotion"></promo>
  </div>
</template>

<script>
import Promo from './components/Promotions.vue'
import PromotionsJSON from './data/promotions.json'

export default {
  name: 'app',
  components: {
    Promo
  },
  data () {
    return {
      promotions: PromotionsJSON.data.promotions
    }
  }
}
</script>
